# yamllint disable rule:line-length
name: Test for BuildEnv L2 container build

on:
  push:
    branches:
      - main
    paths:
      - 'build-container/**'

permissions:
  id-token: write
  attestations: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
        with:
          go-version: 1.22.x

      - name: Install scai-gen CLI tools
        shell: bash
        run: |
          go install github.com/in-toto/scai-demos/scai-gen@latest

      # Per BuildEnv L2, MUST automatically generate and distribute
      # signed reference values for the bootloader or equivalent, guest
      # kernel, build platform client, build executor, and root filesystem.
      - name: Attest container reference values
        id: ref-values
        uses: chkimes/image-attestation/.github/actions/attest-ref-values@main
        with:
          reference-path: 'build-container/*'

      - name: Build docker container
        id: build
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991 # v6.13.0
        with:
          context: "."
          file: "build-container/test-buildenv.dockerfile"
          tags: "test_l2:latest"

      - name: Generate SLSA Provenance
        id: slsa
        uses: actions/attest-build-provenance@ef244123eb79f2f7a7e75d99086184180e6d0018 # v1.4.4
        with:
          subject-name: "test_l2"
          subject-digest: ${{ steps.build.outputs.digest }}
